
<br>
<br>
<br>
<br>
<%= link_to "Back",movies_index_path %>
<p>
<img src=<%= @response["Poster"]  %>
</img> 
</p>

<p>
  <strong>Title:</strong>
  <%= @response["Title"] %>
</p>


<p>
  <strong>Title:</strong>
  <%= @response["Title"] %>
</p>
 
<p>
  <strong>Year:</strong>
  <%= @response["Year"] %>
</p>
<p>
  <strong>Year:</strong>
  <%= @response["Rated"] %>
</p>
<p>
  <strong>Released:</strong>
  <%= @response["Released"] %>
</p>
<p>
  <strong>Runtime:</strong>
  <%= @response["Runtime"] %>
</p>
<p>
  <strong>Genre:</strong>
  <%= @response["Genre"] %>
</p>
<p>
  <strong>Director:</strong>
  <%= @response["Director"] %>
</p>
<p>
  <strong>Writer:</strong>
  <%= @response["Writer"] %>
</p>
<p>
<strong>Actors:</strong>
  <%= @response["Actors"] %>
</p>
<p>
<strong>Plot:</strong>
  <%= @response["Plot"] %>
</p>
<strong>Language:</strong>
  <%= @response["Language"] %>
</p>

<p>
<strong>Country:</strong>
  <%= @response["Country"] %>
</p>

<p>
<strong>Awards:</strong>
  <%= @response["Awards"] %>
</p>

<p>
<strong>Metascore:</strong>
  <%= @response["Metascore"] %>
</p>

<p>
<strong>imdbRating:</strong>
  <%= @response["imdbRating"] %>
</p>

<p>
<strong>imdbVotes:</strong>
  <%= @response["imdbVotes"] %>
</p>

<p>
<strong>imdbID:</strong>
  <%= @response["imdbID"] %>
</p>
<p>
<strong>Type:</strong>
  <%= @response["Type"] %>
</p>
<p>
<strong>DVD:</strong>
  <%= @response["DVD"] %>
</p>
<p>
<strong>BoxOffice:</strong>
  <%= @response["BoxOffice"] %>
</p>

<p>
<strong>Production:</strong>
  <%= @response["Production"] %>
</p>

<p>
<strong>Website:</strong>
  <%= @response["Website"] %>
</p>
<p>
<strong>Production:</strong>
  <%= @response["Production"] %>
</p>









